body{
    height: 98vh;
    background-image: url(photos/potato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

div{
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    margin-top: 100px;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 125px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    transition-duration: 0.4s;
    opacity: 0.8;
    color: white;
    background: black;
    cursor: pointer;
}

button:active{
    opacity: 0.4;
    transition-duration: 0.2s;
}