body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-image: url(https://potatotweeks.github.io/potatotweaks/photos/potatocoins-removebg-preview.png), url(https://potatotweeks.github.io/potatotweaks/photos/pixlr-image-generator-825721d9-d00d-4924-a92b-177223993962-removebg-preview.png);
    background-size: 150px 150px, 50px 50px;
    background-repeat: repeat, repeat;
    animation: mymove 10s infinite;
}

@keyframes mymove{
    from{background-position-y: 100%;}
    to{background-position-y: 0px;}
}

h1{
    text-align: center;
    margin-top: 20px;
}

p{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 25%;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 75%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

label{
    margin: 10px 0 5px 0;
}

input{
    width: 480px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
}

button{
    width: 100%;
    margin-top: 20px;
    border-radius: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}
