body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333;
    background-image: url('\photos\potato-removebg-preview.png');
    background-position: 150px;
    background-size: 100px;
    animation: mymove 10s infinite;
}

@keyframes mymove{
    from {background-position-y: 0px;}
    to {background-position-y: 100%;}
}

header{
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    border-bottom: 2px solid #2980b9;
}

header h1{
    margin: 0;
    font-size: 2em;
}

header p{
    font-size: 1.2em;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

nav a:hover{
    color: #27ae60;
}

main{
    padding: 20px;
    text-align: center;
}

.product{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.product:hover{
    transform: scale(1.04);
}

.product img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.product h2{
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p{
    color: #555;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.action-button{
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.action-button:hover{
    background-color: #219d54;
}

.download-button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.download-button:hover{
    background-color: #2980b9;
}

footer{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}

footer p{
    margin: 0;
}

@media (max-width: 768px){
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 1em;
    }

    nav a {
        font-size: 14px;
    }

    .product h2 {
        font-size: 1.2em;
    }

    .product p {
        font-size: 1em;
    }

    .action-button,
    .download-button {
        font-size: 14px;
    }
}

.photo{
    width: 300px;
    height: auto;
    border-radius: 60px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
